@{
    ViewBag.Title = "UsedCar";
}
@using WebApplication5.Models
@{
    var usedCarList = ViewData["usedCarslist"] as List<usedCars>;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Used Cars</title>
    <link href="~/Content/simpleGridTemplate.css" rel="stylesheet" />
    <link href="~/Content/singlePageTemplate.css" rel="stylesheet" />

    <script src="~/myScript.js"></script>
</head>
<body>
    <!-- Main Container -->
    <div class="container">
        <!-- Header -->
        <header>
            <h2 class="logo"><img src="images/logo.png" alt="FASTwheels" width="50%" onClick="openHome()">FASTwheels</h2>
            <nav>
                <ul>
                    <li><a href="home.html" target="_self">HOME</a></li>
                    <li><a href="newCars.html" target="_self">NEW CARS</a> </li>
                    <li><a href="usedCars.html" target="_self">USED CARS</a></li>
                    <li> <a href="carDealers.html" target="_self">CAR DEALERS</a></li>
                    <li> <a href="autoParts.html" target="_self">AUTO PARTS</a></li>
                    <li><a href="aboutUs.html" target="_self">ABOUT</a></li>
                    <li><button onClick="postAd()" class="button">Post an Ad </button> </li>
                    <li id="signIn"><a href="signIn.html" target="_self">|sign in </a></li>
                    <li id="signUp"><a href="signUp.html" target="_self">| sign up|</a> </li>
                </ul>
            </nav>
        </header>
        <!-- Hero Section -->
        <section class="intro">
            <div class="column2">
                <h1 align="center">&nbsp; &nbsp; &nbsp;Find Cars for Sale in Pakistan</h1>
                <p>With thousand of cars,we have just the right one for you </p>
            </div>
        </section>
        <div class="searchBar" align="center">

            <label for="make"> Make &nbsp; </label>

            <select name="make" id="company">
                <option value="select">Select </option>
                <option value="honda"> Honda  </option>
                <option value="toyatta"> Toyatta  </option>
                <option value="mercedes"> Mercedes  </option>
                <option value="audi"> Audi  </option>
                <option value="suzuki"> Suzuki  </option>
            </select>

            <label for="model">&nbsp; &nbsp; Model &nbsp;</label>
            <select name="model" id="year">
                <option value="select"> Select Model</option>
                <option value="2016"> 2016  </option>
                <option value="2017"> 2017  </option>
                <option value="2018"> 2018  </option>
                <option value="2019"> 2019  </option>
                <option value="2020"> 2020  </option>
            </select>

            <label for="location">&nbsp; &nbsp; Location &nbsp;</label>
            <select name="location" id="city">
                <option value="select">Choose City </option>
                <option value="Lahore"> Lahore  </option>
                <option value="Karachi"> Karachi  </option>
                <option value="Islamabad"> Islamabad  </option>
                <option value="Peshawar"> Peshawar  </option>
                <option value="Gujranwala"> Gujranwala  </option>
            </select>

            <label for="range"> &nbsp; &nbsp; Range &nbsp;</label>
            <select name="range" id="price">
                <option value="select">Price Range </option>
                <option value="upto 1,000,000"> upto 1,000,000 </option>
                <option value="1,000,001 to 2,000,000"> 1,000,001 to 2,000,000 </option>
                <option value="2,000,001 to 4,000,000"> 2,000,001 to 4,000,000 </option>
                <option value="4,000,001 to 8,000,000"> 4,000,001 to 8,000,000 </option>
                <option value=">8,000,000"> >8,000,000</option>
            </select>

            <br><br>
            <button type="submit" class="button"> Search </button>
        </div>

        <div class="gallery">
            <h2 align="center">Top used Cars in Pakistan</h2>
            <div class="thumbnail">
                <img src="images/civic2014.jpg" alt="Honda Civic" width="2000" class="cards" />
                <h4>Honda Civic 2014</h4>
                <p class="tag"><strong>pkr 25 lacs </strong> </p>
                <p class="tag">The 10th Generation Honda Civic introduces a new design language as well as a range of cleaner, more powerful and more efficient engines. The Honda Civic 2020 is available in 2 variants in Pakistan 1.8 Litre and 1.8-Liter VTI Oriel while globally it is sold in 4 variants LX, EX, EX-T and EX-L.</p>
                <br>
                <button class="button3">Buy Now</button>
            </div>

            <div class="thumbnail">
                <img src="images/premio.jpg" alt="Suzuki Cultus" width="2000" class="cards" />
                <h4>Toyata Premio 2007</h4>
                <p class="tag"><strong>pkr 23 lacs</strong></p>
                <p align="center" class="tag">Toyata has many products which are worth praising and can surely not forget Toyata Premio in the list.Toyata Premio is sedans sold in Japan since 2001. It is most balanced in terms of maintenance costs, fuel economy and reliabilty. It also has two airbags and engine capacity is 1496cc.</p>
                <br>
                <button class="button3">Buy Now</button>
            </div>

            <div class="thumbnail">
                <img src="images/aqua.jpg" alt="Honda City" width="2000" class="cards" />
                <h4>Toyata Aqua 2014</h4>
                <p class="tag"><strong>pkr 22.5 lacs</strong></p>
                <p align="center" class="tag">The Toyata Aqua is a full hybrid gasoline hatchback produced and marketed by the Japanese automobile maker Toyata Motors. The car is capable of providing an outstanding 35km/litre and offers modern onboard amenities. Toyata Aqua is a comfortable car with comfortable price.</p>
                <br>
                <button class="button3">Buy Now</button>
            </div>

        </div>
        <div class="gallery">
            <div class="thumbnail">
                <img src="images/Audi_A4.jpg" alt="Audi A7" width="2000" class="cards" />
                <h4>Audi A4 2010 </h4>
                <p class="tag"><strong>Contact for Price</strong></p>
                <p class="tag">The Audi A4 is an executive car produced by Audi since 2010.It features a sloping roofline with a steeply raked rear window and integrated boot lid (forming the so-called "Sportback"), and four frameless doors. </p>
                <br>
                <button class="button3">Buy Now</button>
            </div>
            <div class="thumbnail">
                <img src="images/mira.jpg" alt="Honda Vezel" width="2000" class="cards" />
                <h4>Daihatsu Mira 2016</h4>
                <p class="tag"><strong>pkr 16 lacs</strong></p>
                <p class="tag">Daihatsu Mira is a front engine front/four wheel drive kei car first introduced in 2006. The Mira 2020 featured an updated design language and a slightly larger body compared to the previous model of Mira.</p>
                <br>
                <button class="button3">Buy Now</button>
            </div>
            <div class="thumbnail">
                <img src="images/hilux.jpg" alt="Land Cruiser" width="2000" class="cards" />
                <h4>Toyata hilux 2009</h4>
                <p class="tag"><strong>pkr 30 lacs</strong></p>
                <p align="center" class="tag">Toyata Hilux is the final facelift for the 200-Series Hilux before an all new model comes out in a few years.The new version of Toyota Hilux 2020 is available in 3 different variants VX 4.6, GX-R and VX 4.5D. </p>
                <br>
                <button class="button3">Buy Now</button>
            </div>

        </div>
        <!-- Footer Section -->
        <section class="footer_banner" id="contact">
            <h2 class="hidden">Footer Banner Section </h2>
            <p class="footer01">FOR THE LATEST NEWS UPDATES, visit our site or contact us at FASTwheels@lhr.pk</p>
        </section>
        <!-- Copyrights Section -->
        <div class="copyright">&copy;All rights reserved.&nbsp; </div>

    </div>
</body>
</html>

